certifi
chardet
click
dominate
Flask
flask
Flask-Bootstrap
Flask-CKEditor
Flask-Gravatar
Flask-Login
Flask-SQLAlchemy
Flask-WTF
idna
itsdangerous
Jinja2
MarkupSafe
requests
SQLAlchemy
urllib3
visitor
Werkzeug
WTForms
flask_bootstrap
gunicorn